'/KiteDemo' filter=lfs diff=lfs merge=lfs -text
'/KiteDemo/**' filter=lfs diff=lfs merge=lfs -text
'KiteDemo/**' filter=lfs diff=lfs merge=lfs -text
'KiteDemo/*' filter=lfs diff=lfs merge=lfs -text
'/KiteDemo/*' filter=lfs diff=lfs merge=lfs -text lockable
'/Demo/*' filter=lfs diff=lfs merge=lfs -text
